<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <p class="aligncenter">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8c56f812-34b0-42e0-94a4-5893e3a307de/d4z1qfg-90053ced-da15-402f-9abf-7ebc3178bcb6.png/v1/fill/w_817,h_978,strp/assassins_symbol_by_half_rose_d4z1qfg-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAxMyIsInBhdGgiOiJcL2ZcLzhjNTZmODEyLTM0YjAtNDJlMC05NGE0LTU4OTNlM2EzMDdkZVwvZDR6MXFmZy05MDA1M2NlZC1kYTE1LTQwMmYtOWFiZi03ZWJjMzE3OGJjYjYucG5nIiwid2lkdGgiOiI8PTg0NyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EyKwMz-tkY_vOX30PsrmSMnc1Dmpyxu67TrOABLpP_4" 
        width="400px" height="400px" class="center" alt="Assassin's creed logo" />
     </p>
    <mat-card-content>
      <div style="text-align: center;">
        Cloud Assasin Rules
      </div>
      <p>
        To play Assassin, click the 'Join Game' button below to be addes to the cloud database.
        Once there are enough players in the system, the Moderator will start a game. If you
        are a participant in the game of Assassin, you will recive an automated email with your
        current target. If you should succede to kill your target, you will then need to report 
        the kill to the Moderator. Once the Moderator has confirmed your kill, the Moderator will 
        update the database and you will recive a new email with a new target. Once there is only
        one Assassin remaining, that Assassin is the winner.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</button>
        <button mat-button *ngIf="auth.isLoggedIn()" (click)="navigateToUser()">View/Edit User Information</button>
        <button mat-button *ngIf="auth.isLoggedIn()" type="submit" (click)="logout()">Log Out</button>
    </mat-card-actions>
  </mat-card>