<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-content>
      Search users by name:<br /><br />
      <input matInput type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
        placeholder="Search by name..." (keyup)="searchByName()">
    </mat-card-content>
    <mat-selection-list #users [(ngModel)]="selectedOptions">
      <mat-list-option *ngFor="let item of items" [value]="item.payload.doc.id">
        {{item.payload.doc.data().name}}
      </mat-list-option>
    </mat-selection-list>
    <mat-card-actions>
      <button mat-button (click)="startRound()">Start Round</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <p>
  Options selected: {{ selectedOptions | json }}
</p> -->