<form [formGroup]="registerForm">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="register-card">
      <mat-card-header class="register-header">
        Register
      </mat-card-header>
      <mat-card-content class="register-content">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
          <mat-form-field>
            <input matInput placeholder="Agent Name" type="name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
          <label class="error">{{ errorMessage }}</label>
          <label class="success">{{ successMessage }}</label>
        </div>
      </mat-card-content>
      <mat-card-actions class="register-actions" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-button type="submit" (click)="tryRegister(registerForm.value)">Register</button>
        <button mat-button routerLink="/login">Already have an account?</button>
        <button mat-button routerLink="/home-page">Return to Homepage</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
<p style="overflow:auto;resize:both;" class="aligncenter">
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8c56f812-34b0-42e0-94a4-5893e3a307de/d4z1qfg-90053ced-da15-402f-9abf-7ebc3178bcb6.png/v1/fill/w_817,h_978,strp/assassins_symbol_by_half_rose_d4z1qfg-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAxMyIsInBhdGgiOiJcL2ZcLzhjNTZmODEyLTM0YjAtNDJlMC05NGE0LTU4OTNlM2EzMDdkZVwvZDR6MXFmZy05MDA1M2NlZC1kYTE1LTQwMmYtOWFiZi03ZWJjMzE3OGJjYjYucG5nIiwid2lkdGgiOiI8PTg0NyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EyKwMz-tkY_vOX30PsrmSMnc1Dmpyxu67TrOABLpP_4" 
    style="width:20%;height:auto;" alt="Assassin's creed logo" />
</p>