<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-content>
        Search users by name:<br /><br />
      <input matInput type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
    </mat-card-content>
    <mat-nav-list class="app-class" style="background: rgb(71, 95, 107); color: rgb(255, 255, 255);">
      <mat-list-item *ngFor="let item of items">
        <br />
        Display Name:  {{ item.payload.doc.data().name }}<br />
        User's Email:  {{ getUserEmailByUID(item.payload.doc.id) }}<br />
        User's UID:  {{ item.payload.doc.id }}<br />
        Target:  N/A<br />
        <br />
        <button mat-button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">Details</button>
        <br />
      </mat-list-item>
    </mat-nav-list>
    <mat-card-actions>
      <button mat-button routerLink="/home-page">Return to Homepage</button>
    </mat-card-actions>
    </mat-card>
</div>